
            @import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway');
            @import url('https://fonts.googleapis.com/css?family=Cinzel|Quattrocento');



         * {
              color: rgb(246, 128, 32);
              background-color: rgba(40, 20, 20, 1);
              background-image: url(pepper.png);
              background-size: 105px;
          }

          .title {
              grid-area: title;
              font-weight: bold;
              text-transform: uppercase;
              font-size: 3rem;
              text-align: center;
              padding-top: 1em;
              position: relative;
              font-family: 'Cinzel', sans-serif;
          }

        #home, #menu, #contact-us {
              display: inline-block;
              padding-left: 10px;
              font-family: "Quattrocento", sans-serif;
              background-image: linear-gradient(90deg, rgb(40, 20, 20), rgb(40, 20, 20));
          }

          #home:hover, #menu:hover, #contact-us:hover {
                font-weight: 400;
                color: salmon;
          } 

          .header {
              grid-area: header;
              font-family: "Quattrocento", sans-serif;
              background-image: linear-gradient(90deg, rgb(40, 20, 20), rgb(40, 20, 20));
              
          }
          
          a {z-index: 10; text-align: center; font-family: sans-serif;}
          
          a:visited {color: rgb(196, 93, 8)}
          a:hover {font-weight: bold;}
          a:active {text-decoration: none;}

          .footer {
              grid-area: footer;
              font-family: sans-serif;
              text-align: center;
              padding: 1em 0;
              font-family: "Quattrocento", sans-serif;

              background-image: linear-gradient(90deg, rgb(40, 20, 20), rgb(40, 20, 20));
          }

          hr {
              border-color: rgb(247, 71, 7);
          }
