
            @import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway');

         * {
              color: rgb(246, 128, 32);
              background-color: rgba(40, 20, 20, 1);
              background-image: url(pepper.png);
              background-size: 105px;
          }

          .title {
              grid-area: title;
              font-size: 3em;
              text-align: center;
              padding-top: 1em;
              position: relative;
              font-family: 'Josefin Slab';
          }

        #home, #menu, #contact-us {
              width: 6%;
              display: inline-block;
              margin: 0px;
              background-image: linear-gradient(90deg, rgb(40, 20, 20), rgb(40, 20, 20));
          }

          .header {
              grid-area: header;
              font-family: sans-serif;
              background-image: linear-gradient(90deg, rgb(40, 20, 20), rgb(40, 20, 20));
              
          }
          
          a {z-index: 10; text-align: center; font-family: sans-serif;}
          
          a:visited {color: rgb(196, 93, 8)}
          a:hover {font-weight: bold;}
          a:active {text-decoration: none;}

          .footer {
              grid-area: footer;
              font-family: sans-serif;
              text-align: center;
              padding: 1em 0;
              background-image: linear-gradient(90deg, rgb(40, 20, 20), rgb(40, 20, 20));
          }

          hr {
              border-color: rgb(247, 71, 7);
          }
